html, body {
  position: relative;
  height: 100%;
}
body {
  background: silver;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 50%;
}
.swiper-slide {
  text-align: center;
  background: #fff;


  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.image{
  width: 80%;
  transition: 1s;
}

.title{
  padding: 0 0 100px 50px;
}


.title h1{
  display: inline-block;
  color: black;
  background-color: white;
  border-radius: 5px;
  font-size: 40px;
  font-family: sans-serif;
  padding: 20px;
  opacity: 0.8;
}

@media(max-width: 670px){
  .title h1{
    font-size: 20px;
    display: block;
  }

  .title{
    text-align: center;
    width: 100%;
  }

  
}
